name: Linux

on:
  push:
    branches: [ master ]
    paths-ignore:
      - '**.md'
      - 'docs/**'
      - '.github/workflows/*.yml'  # exclude ghactions changes.
  pull_request:
    branches: [ master ]
    paths-ignore:
      - '**.md'
      - 'docs/**'
      - '.github/workflows/*.yml'

jobs:
  linux_acceptance:
    name: Linux
    uses: ./.github/workflows/tests_reusable.yml
    with:
      # arrays for matrices must be given as string for json parsing
      # https://github.community/t/reusable-workflow-with-strategy-matrix/205676
      os: '["ubuntu-latest"]'
      browser: '["chrome", "firefox", "edge"]'
      python-version: '["3.11", "3.13"]'
      minimum-rfw-version: "5.0.1"
      minimum-rfw-python: "3.11"