name: MacOS

on:
  push:
    branches: [ master ]
    paths-ignore:
      - '**.md'
  pull_request:
    branches: [ master ]
    paths-ignore:
      - '**.md'

jobs:
  macos_acceptance:
    name: MacOS
    uses: ./.github/workflows/tests_reusable.yml
    with:
      # arrays for matrices must be given as string for json parsing
      # https://github.community/t/reusable-workflow-with-strategy-matrix/205676
      os: '["macos-latest"]'
      browser: '["safari"]' #'["chrome", "edge", "safari"]'
      python-version:  '["3.9"]'  #'["3.8", "3.9"]'
      rfw-322-python: "3.8"
      additional-rfw-parameters: "-e RESOLUTION_DEPENDENCY -e FLASK -L TRACE -t VerifyAttributeNOK -t GetAttributeNOK"