name: Windows

on:
  push:
    branches: [ master ]
    paths-ignore:
      - '**.md'
      - 'docs/**'
      - '.github/workflows/*.yml'
  pull_request:
    branches: [ master ]
    paths-ignore:
      - '**.md'
      - 'docs/**'
      - '.github/workflows/*.yml'

jobs:
  windows_acceptance:
    name: Windows
    uses: ./.github/workflows/tests_reusable.yml
    with:
      # arrays for matrices must be given as string for json parsing
      # https://github.community/t/reusable-workflow-with-strategy-matrix/205676
      os: '["windows-latest"]'
      browser: '["chrome", "edge", "firefox"]'
      python-version: '["3.11", "3.12"]'
      minimum-rfw-version: "5.0.1"
      minimum-rfw-python: "3.11"
      rfw-exclude-tags: "-e FLASK"
      